<%= render 'shared/errors', obj: @category %>
<%= form_with(model: @category, class: "shadow p-3 mb-3 bg-info rounded", local: true)  do |f| %>
<div class="input-group row">
  <%= f.label :name, "Category Name", class: "col-2 col-form-label text-light mt-2" %>
  <div class="col-10">
  <%= f.text_field :name, class: "form-control shadow rounded mb-2 mt-2", placeholder: "Enter a category name" %>
  </div>
</div>

<div class="input-group justify-content-center mb-3">
  <%= f.submit class: "btn-outline-secondary btn-lg mt-4" %>
</div>
<% end %>
